<% content_for :title do %>
    Logga in
<% end %>
<div class="row">
<div class="jumbotron">
  <h1>V채lkommen till n책got API </h1>
  <h3>Var v채nlig logga in</h3>
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/flash_messages' %>
      <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :username, 'Anv채ndarnamn' %>
          <%= f.text_field :username, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <br />
          <%= f.submit 'Logga In', class: 'btn btn-success' %>
          <%= link_to 'Registrera dig',  new_user_path,  class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>

</div>
</div>